*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0rem;
}

.container-mid{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0rem auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}